.my-modal-invite-canvas {
    position: fixed;
    z-index: 1001;
    background-color: #00000040;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal-invite-canvas .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: auto;
    width: 648px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #092D7317;
}

.my-modal-invite-canvas .content header {
    padding: 20px 24px 20px 0px;
    border-bottom: 1px solid #EFEFEF;
}

.my-modal-invite-canvas .content footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    padding: 20px 0px 16px 24px;
}

.my-modal-invite-canvas .content input[type=text],
.my-modal-invite-canvas .content input[type=number] {
    margin-top: 4px;
    margin-bottom: 16px;
}

.my-modal-invite-canvas .content input[type=text]:last-child,
.my-modal-invite-canvas .content input[type=number]:last-child {
    margin-bottom: 0;
}

.input-select-options{
	height: 90px;
	width: 254px;
    left:25px;
	position: absolute;
	padding: 10px 16px;
	top: calc(100%);
	background-color: #FFFFFF;
	border: 1px solid #E4E4E4;
	border-radius: 6px;
	box-shadow: 0px 4px 9px 0px #092D7317;
	overflow: auto;
}

