.my-modal {
    position: fixed;
    z-index: 1001;
    background-color: #00000040;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: auto;
    width: 648px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #092D7317;
}

.my-modal .content header {
    padding: 20px 24px 20px 0px;
    border-bottom: 1px solid #EFEFEF;
}

.my-modal .content footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    padding: 20px 0px 16px 24px;
}

.my-modal .content input[type=text],
.my-modal .content input[type=number] {
    margin-top: 4px;
    margin-bottom: 16px;
}

.my-modal .content input[type=text]:last-child,
.my-modal .content input[type=number]:last-child {
    margin-bottom: 0;
}

.card{
    position: relative;
    height: 65px;
    width: 590px;
    border-radius: 10px;
    object-fit: cover;
    border: 0.5px solid #E4E4E4;
    box-shadow: 0px 3.055999994277954px 6.875999927520752px 0px #092D7317;
    margin-top: 12px;
}

