.process {
    padding: 8px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #1E1E1E;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: process;
    animation-duration: 1s;
    display: flex;
    gap: 13px;
}

.process .css-1qiikkb-Spinner{
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes process {
    from {
        transform: translate(-50%, -100px);
    }

    90% {
        transform: translate(-50%, 0px);
    }

    95% {
        transform: translate(-50%, 2px);
    }

    to {
        transform: translate(-50%, 0px);
    }
}