.ic-archive-fill{
  background-image: url(svg/ic-archive-fill-off.svg);
}

.ic-home-fill{
  background-image: url(svg/ic-home-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-home-fill{
  background-image: url(svg/ic-home-fill-on.svg);
}
.active >a > .ic-home-fill{
  background-image: url(svg/ic-home-fill-on.svg);
}

.ic-workspace-fill{
  background-image: url(svg/ic-workspace-2-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}

.ic-workspace-fill-2{
  background-image: url(svg/ic-workspace-icon-2.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-workspace-fill{
  background-image: url(svg/ic-workspace-2-fill-on.svg);
}
.active >a > .ic-workspace-fill{
  background-image: url(svg/ic-workspace-2-fill-on.svg);
}

.ic-models-fill{
  background-image: url(svg/ic-models-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-models-fill{
  background-image: url(svg/ic-models-fill-on.svg);
}
.active >a > .ic-models-fill{
  background-image: url(svg/ic-models-fill-on.svg);
}

.ic-archive-fill{
  background-image: url(svg/ic-archive-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-archive-fill{
  background-image: url(svg/ic-archive-fill-on.svg);
}
.active >a > .ic-archive-fill{
  background-image: url(svg/ic-archive-fill-on.svg);
}

.ic-trash-fill{
  background-image: url(svg/ic-trash-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-trash-fill{
  background-image: url(svg/ic-trash-fill-on.svg);
}
.active >a > .ic-trash-fill{
  background-image: url(svg/ic-trash-fill-on.svg);
}

.ic-dashboard-fill{
  background-image: url(svg/ic-dashboard-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-dashboard-fill{
  background-image: url(svg/ic-dashboard-fill-on.svg);
}
.active >a > .ic-dashboard-fill{
  background-image: url(svg/ic-dashboard-fill-on.svg);
}

.ic-statistics-fill{
  background-image: url(svg/ic-statistics-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-statistics-fill{
  background-image: url(svg/ic-statistics-fill-on.svg);
}
.active >a > .ic-statistics-fill{
  background-image: url(svg/ic-statistics-fill-on.svg);
}

.ic-likes-fill{
  background-image: url(svg/ic-likes-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-likes-fill{
  background-image: url(svg/ic-likes-fill-on.svg);
}
.active >a > .ic-likes-fill{
  background-image: url(svg/ic-likes-fill-on.svg);
}

.ic-sentiment-fill{
  background-image: url(svg/ic-sentiment-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-sentiment-fill{
  background-image: url(svg/ic-sentiment-fill-on.svg);
}
.active >a > .ic-sentiment-fill{
  background-image: url(svg/ic-sentiment-fill-on.svg);
}

.ic-emoticon-fill{
  background-image: url(svg/ic-emoticon-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-emoticon-fill{
  background-image: url(svg/ic-emoticon-fill-on.svg);
}
.active >a > .ic-emoticon-fill{
  background-image: url(svg/ic-emoticon-fill-on.svg);
}

.ic-pin-fill{
  background-image: url(svg/ic-pin-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-pin-fill{
  background-image: url(svg/ic-pin-fill-on.svg);
}
.active >a > .ic-pin-fill{
  background-image: url(svg/ic-pin-fill-on.svg);
}

.ic-sna-fill{
  background-image: url(svg/ic-sna-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-sna-fill{
  background-image: url(svg/ic-sna-fill-on.svg);
}
.active >a > .ic-sna-fill{
  background-image: url(svg/ic-sna-fill-on.svg);
}
.ic-compare-fill{
  background-image: url(svg/ic-compare-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-compare-fill{
  background-image: url(svg/ic-compare-fill-on.svg);
}
.active >a > .ic-compare-fill{
  background-image: url(svg/ic-compare-fill-on.svg);
}

.ic-influencer-fill{
  background-image: url(svg/ic-influencer-fill-off.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  gap: 24px;
}
a:hover > .ic-influencer-fill{
  background-image: url(svg/ic-influencer-fill-on.svg);
}
.active >a > .ic-influencer-fill{
  background-image: url(svg/ic-influencer-fill-on.svg);
}

.active a{
  /* border-right: 2px solid #0549CF; */
  color: #1E1E1E !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.active a:hover{
  color: #1E1E1E !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.active a::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 9px;
  border-radius: 5px;
  width: 2px;
  height: 32px;
  background-color: #0549CF;
}