.shape-dropdown{
    padding: 14px 16px;
    display: flex;
    gap: 15px;
}

.stickynote-dropdown{
    padding: 14px 16px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 9px;
}

.sticker-dropdown{
    padding: 20px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}