.breadcrumb{
    display: flex;
    gap: 4px;
    align-items: center;
}
.chev-text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
}

.chev-icon{
    font-size: 20px;
    color: #0549CF;
}
.btn-primary{
    background: #0549CF;
    padding: 8px 16px;
    outline: 0;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Inter';
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover{
    background: #043DAC;
}
.btn-primary:focus{
    background: #043DAC;
    outline: 3px solid #CDDBF5;
}
.head-right{
    display: flex;
    align-items: center;
    gap: 14px;
    flex: 1;
    justify-content: end;
}
.btn-icon{
    font-size: 20px;
    padding: 10px;
    color: #737373;
    cursor: pointer;
}
.tools-object{
    padding: 14px 16px;
    position: fixed;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    gap: 24px;
}
.tools{
    display: grid;
    gap: 16px;
}
.tools-icon{
    font-size: 20px;
    cursor: pointer;
}

.tools-icon:hover svg path{
    fill: #0549CF;
}
.hide{
    display: none !important;
}
.tools-custom{
    padding: 11px 16px;
    position: fixed;
    bottom: 38px;
    left: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    gap: 24px;
}
.tools-canvas{
    position: fixed;;
    top: 94px;
    right: 30px;
    display: flex;
    box-shadow: 0px 2px 4px #D1CECF;
    border-radius: 4px;
    background: #FFFFFF;
}
.tools-bg{
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 8px 13px;
    border-right: 0.5px solid #E4E4E4;
    cursor: pointer;
}
.tools-zoom{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 13px;
    background: #FFFFFF;
}
.z-icon{
    cursor: pointer;
}

