#alert {
  padding: 8px 16px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #1E1E1E;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: alert;
  animation-duration: 4s;
  display: flex;
  gap: 13px;
}

@keyframes alert {
  from {
    transform: translate(-50%, -100px);
  }

  10% {
    transform: translate(-50%, 0px);
  }

  12% {
    transform: translate(-50%, 5px);
  }

  16% {
    transform: translate(-50%, 0px);
  }

  80% {
    transform: translate(-50%, 0px);
  }

  85% {
    transform: translate(-50%, 5px);
  }

  to {
    transform: translate(-50%, -100px);
  }
}

#alert .bi-ic-x {
  color: #F54A45;
  margin-top: auto;
  margin-bottom: auto;
}

#alert .bi-ic-check {
  color: #03A08B;
  margin-top: auto;
  margin-bottom: auto;
}

#alert .bi-ic-copy {
  margin-top: auto;
  margin-bottom: auto;
}