.project-list-button {
    padding: 11px 11px 8px 19px;
    border-radius: 5px;
    border: 0.5px solid #EFEFEF;
    box-shadow: 0px 2px 3px 0px #092D7326;
    cursor: pointer;
}

.icon{
    height: 24px;
    width: 24px;
    margin: auto 12px auto 0;
}