.toolbox{
    position: fixed;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    background: #F6F6F6;
    align-items: center;
}

.toolbox .toolbox-item{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    cursor: pointer;
}

.line-toolbox .toolbox-item{
    gap: 5px;
    padding: 0 8px;
}

.shape-toolbox .dropdown-v2 > div{
    display: flex;
}

.shape-toolbox .toolbox-item{
    padding: 0 7px;
}

.toolbox >div{
    border-right: 0.5px solid #C9C9C9;
}

.toolbox >div:last-child{
    border-right: none;
}

.toolbox-item.font{
    width: 193px;
    padding: 8px;
    text-align: left;
}