.card-project{
    position: relative;
}

.card-project .card{
    position: relative;
    height: 191px;
    width: 260px;
    border-radius: 10px;
    object-fit: cover;
    border: 0.5px solid #E4E4E4;
    box-shadow: 0px 3.055999994277954px 6.875999927520752px 0px #092D7317;
}

.card-project .footer{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    background: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding-right: 15px;
    z-index: 2;
}

.card-project .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    display: none;
}

.card-project:hover .overlay{
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: 1s all ease;
}

.no-hover-card-project{
    position: relative;
}

.no-hover-card-project .card{
    position: relative;
    height: 191px;
    width: 238px;
    border-radius: 10px;
    object-fit: cover;
    border: 0.5px solid #E4E4E4;
    box-shadow: 0px 3.055999994277954px 6.875999927520752px 0px #092D7317;
}

.no-hover-card-project .footer{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    background: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding-right: 15px;
    z-index: 2;
}

.no-hover-card-project .overlay{
    display: none;
}

input[type=text].rename-input {
    border-radius: 0;
    max-width: 100%;
    min-width: 0%;
    padding: 0;
    margin-bottom: 0;
}

input[type=text]:disabled.rename-input {
    background: none;
    border: none;
}

.abs-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.xs-circle {
    cursor: default;
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}