.my-modal {
    position: fixed;
    z-index: 1001;
    background-color: #00000040;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #092D7317;
}

.my-modal .content header {
    padding: 20px 24px 15px 24px;
    border-bottom: 1px solid #EFEFEF;
}

.my-modal .content footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    padding: 20px 24px 16px 24px;
}

.my-modal .content input[type=text],
.my-modal .content input[type=number] {
    margin-top: 4px;
    margin-bottom: 16px;
}

.my-modal .content input[type=text]:last-child,
.my-modal .content input[type=number]:last-child {
    margin-bottom: 0;
}


/* my modal version 2 */
.my-modal-v2 {
    position: fixed;
    z-index: 1001;
    background-color: #00000040;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal-v2 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #092D7317;
}

.my-modal-v2 .content header {
    padding: 20px 24px 15px 24px;
    border-bottom: 1px solid #EFEFEF;
}

.my-modal-v2 .content footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 20px 24px 16px 24px;
}

.my-modal-v2 .content input[type=text],
.my-modal-v2 .content input[type=number] {
    margin-top: 4px;
    margin-bottom: 16px;
}

.my-modal-v2 .content input[type=text]:last-child,
.my-modal-v2 .content input[type=number]:last-child {
    margin-bottom: 0;
}