.dropdown-role-profile {
    padding: 8px 16px;
    margin-top: -11px;
    max-height: 250px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(9, 45, 115, 0.09);
    overflow: auto;
    z-index: 100;
    cursor:pointer
}

.dropdown-role-profile li {
    color: #1E1E1E;
    line-height: 34px;
}

.dropdown-role-profile li:hover {
    color: #0549CF;
}

ul.bullet-list li {
    list-style: disc;
    margin-bottom: 8px;
}

ul.bullet-list li:last-child {
    list-style: disc;
    margin-bottom: 0;
}

ul.bullet-list-style li {
    list-style: disc;
}