@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o4t7q8');
  src:  url('fonts/icomoon.eot?o4t7q8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o4t7q8') format('truetype'),
    url('fonts/icomoon.woff?o4t7q8') format('woff'),
    url('fonts/icomoon.svg?o4t7q8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bi-"], [class*=" bi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-Vector-2:before {
  content: "\e900";

}
.bi-Vector-Stroke:before {
  content: "\e901";

}
.bi-Vector-1:before {
  content: "\e902";

}
.bi-Vector:before {
  content: "\e903";

}
.bi-ic-youtube:before {
  content: "\e904";

}
.bi-ic-x-circle:before {
  content: "\e905";

}
.bi-ic-x-square:before {
  content: "\e906";

}
.bi-ic-x:before {
  content: "\e907";

}
.bi-ic-widget:before {
  content: "\e908";

}
.bi-ic-wifi-off:before {
  content: "\e909";

}
.bi-ic-wifi:before {
  content: "\e90a";

}
.bi-ic-wind:before {
  content: "\e90b";

}
.bi-ic-watch:before {
  content: "\e90c";

}
.bi-ic-volume-2:before {
  content: "\e90d";

}
.bi-ic-volume-1:before {
  content: "\e90e";

}
.bi-ic-volume-x:before {
  content: "\e90f";

}
.bi-ic-video-off:before {
  content: "\e910";

}
.bi-ic-voicemail:before {
  content: "\e911";

}
.bi-ic-volume:before {
  content: "\e912";

}
.bi-ic-video:before {
  content: "\e913";

}
.bi-ic-unlock:before {
  content: "\e914";

}
.bi-ic-user-x:before {
  content: "\e915";

}
.bi-ic-users:before {
  content: "\e916";

}
.bi-ic-user-plus:before {
  content: "\e917";

}
.bi-ic-user-minus:before {
  content: "\e918";

}
.bi-ic-user-check:before {
  content: "\e919";

}
.bi-ic-user:before {
  content: "\e91a";

}
.bi-ic-upload-cloud:before {
  content: "\e91b";

}
.bi-ic-upload:before {
  content: "\e91c";

}
.bi-ic-underline:before {
  content: "\e91d";

}
.bi-ic-umbrella:before {
  content: "\e91e";

}
.bi-ic-table:before {
  content: "\e91f";

}
.bi-ic-type:before {
  content: "\e920";

}
.bi-ic-twitter:before {
  content: "\e921";

}
.bi-ic-tv:before {
  content: "\e922";

}
.bi-ic-truck:before {
  content: "\e923";

}
.bi-ic-triangle:before {
  content: "\e924";

}
.bi-ic-trending-up:before {
  content: "\e925";

}
.bi-ic-trending-up-2:before {
  content: "\e926";

}
.bi-ic-trending-down:before {
  content: "\e927";

}
.bi-ic-trash-2:before {
  content: "\e928";

}
.bi-ic-trash:before {
  content: "\e929";

}
.bi-ic-toggle-right:before {
  content: "\e92a";

}
.bi-ic-toggle-left:before {
  content: "\e92b";

}
.bi-ic-thumbs-up:before {
  content: "\e92c";

}
.bi-ic-thumbs-down:before {
  content: "\e92d";

}
.bi-ic-thermometer:before {
  content: "\e92e";

}
.bi-ic-terminal:before {
  content: "\e92f";

}
.bi-ic-target:before {
  content: "\e930";

}
.bi-ic-tag:before {
  content: "\e931";

}
.bi-ic-tablet:before {
  content: "\e932";

}
.bi-ic-structured-no:before {
  content: "\e933";

}
.bi-ic-structured:before {
  content: "\e934";

}
.bi-ic-service2:before {
  content: "\e935";

}
.bi-ic-sunset:before {
  content: "\e936";

}
.bi-ic-sunrise:before {
  content: "\e937";

}
.bi-ic-sun:before {
  content: "\e938";

}
.bi-ic-stop-circle:before {
  content: "\e939";

}
.bi-ic-star:before {
  content: "\e93a";

}
.bi-ic-square:before {
  content: "\e93b";

}
.bi-ic-speaker:before {
  content: "\e93c";

}
.bi-ic-smartphone:before {
  content: "\e93d";

}
.bi-ic-sliders:before {
  content: "\e93e";

}
.bi-ic-slash:before {
  content: "\e93f";

}
.bi-ic-slack:before {
  content: "\e940";

}
.bi-ic-skip-forward:before {
  content: "\e941";

}
.bi-ic-skip-back:before {
  content: "\e942";

}
.bi-ic-sidebar:before {
  content: "\e943";

}
.bi-ic-shuffle:before {
  content: "\e944";

}
.bi-ic-shopping-cart-add:before {
  content: "\e945";

}
.bi-ic-shopping-cart:before {
  content: "\e946";

}
.bi-ic-store:before {
  content: "\e947";

}
.bi-ic-shopping-bag:before {
  content: "\e948";

}
.bi-ic-shield-off:before {
  content: "\e949";

}
.bi-ic-shield:before {
  content: "\e94a";

}
.bi-ic-share-2:before {
  content: "\e94b";

}
.bi-ic-share:before {
  content: "\e94c";

}
.bi-ic-settings2:before {
  content: "\e94d";

}
.bi-ic-settings:before {
  content: "\e94e";

}
.bi-ic-server:before {
  content: "\e94f";

}
.bi-ic-sort:before {
  content: "\e950";

}
.bi-ic-send:before {
  content: "\e951";

}
.bi-ic-search:before {
  content: "\e952";

}
.bi-ic-scissors:before {
  content: "\e953";

}
.bi-ic-save:before {
  content: "\e954";

}
.bi-ic-rss:before {
  content: "\e955";

}
.bi-ic-rotate-cw:before {
  content: "\e956";

}
.bi-ic-rotate-ccw:before {
  content: "\e957";

}
.bi-ic-rewind:before {
  content: "\e958";

}
.bi-ic-repeat:before {
  content: "\e959";

}
.bi-ic-radio:before {
  content: "\e95a";

}
.bi-ic-refresh-cw:before {
  content: "\e95b";

}
.bi-ic-refresh-ccw:before {
  content: "\e95c";

}
.bi-ic-presentation:before {
  content: "\e95d";

}
.bi-ic-pin-unpin:before {
  content: "\e95e";

}
.bi-ic-pin:before {
  content: "\e95f";

}
.bi-ic-portlet4:before {
  content: "\e960";

}
.bi-ic-portlet3:before {
  content: "\e961";

}
.bi-ic-portlet2:before {
  content: "\e962";

}
.bi-ic-portlet:before {
  content: "\e963";

}
.bi-ic-printer:before {
  content: "\e964";

}
.bi-ic-power:before {
  content: "\e965";

}
.bi-ic-pocket:before {
  content: "\e966";

}
.bi-ic-plus-square:before {
  content: "\e967";

}
.bi-ic-plus-circle:before {
  content: "\e968";

}
.bi-ic-plus:before {
  content: "\e969";

}
.bi-ic-play-circle:before {
  content: "\e96a";

}
.bi-ic-play:before {
  content: "\e96b";

}
.bi-ic-pie-chart:before {
  content: "\e96c";

}
.bi-ic-phone-call:before {
  content: "\e96d";

}
.bi-ic-phone:before {
  content: "\e96e";
}
.bi-ic-percent:before {
  content: "\e96f";

}
.bi-ic-pause-circle:before {
  content: "\e970";

}
.bi-ic-pause-fill:before {
  content: "\e971";

}
.bi-ic-paperclip:before {
  content: "\e972";

}
.bi-ic-package:before {
  content: "\e973";

}
.bi-ic-phone-off:before {
  content: "\e974";

}
.bi-ic-phone-missed:before {
  content: "\e975";

}
.bi-ic-phone-outgoing:before {
  content: "\e976";

}
.bi-ic-phone-incoming-2:before {
  content: "\e977";

}
.bi-ic-phone-forwarded:before {
  content: "\e978";

}
.bi-ic-octagon:before {
  content: "\e979";

}
.bi-ic-navigation-2:before {
  content: "\e97a";

}
.bi-ic-navigation:before {
  content: "\e97b";

}
.bi-ic-maintenance:before {
  content: "\e97c";

}
.bi-ic-models:before {
  content: "\e97d";

}
.bi-ic-music:before {
  content: "\e97e";

}
.bi-ic-move:before {
  content: "\e97f";

}
.bi-ic-more-vertical:before {
  content: "\e980";

}
.bi-ic-more-horizontal:before {
  content: "\e981";

}
.bi-ic-moon:before {
  content: "\e982";

}
.bi-ic-monitor:before {
  content: "\e983";

}
.bi-ic-minus-square:before {
  content: "\e984";

}
.bi-ic-minus-circle:before {
  content: "\e985";

}
.bi-ic-minus:before {
  content: "\e986";

}
.bi-ic-minimize-2:before {
  content: "\e987";

}
.bi-ic-minimize:before {
  content: "\e988";

}
.bi-ic-mic-off:before {
  content: "\e989";

}
.bi-ic-mic:before {
  content: "\e98a";

}
.bi-ic-message-square:before {
  content: "\e98b";

}
.bi-ic-message-circle:before {
  content: "\e98c";

}
.bi-ic-menu:before {
  content: "\e98d";

}
.bi-ic-maximize-2:before {
  content: "\e98e";

}
.bi-ic-maximize:before {
  content: "\e98f";

}
.bi-ic-map-pin:before {
  content: "\e990";

}
.bi-ic-map:before {
  content: "\e991";

}
.bi-ic-mail:before {
  content: "\e992";

}
.bi-ic-list:before {
  content: "\e993";

}
.bi-ic-log-out:before {
  content: "\e994";

}
.bi-ic-log-in:before {
  content: "\e995";

}
.bi-ic-lock:before {
  content: "\e996";

}
.bi-ic-loader:before {
  content: "\e997";

}
.bi-ic-linkedin:before {
  content: "\e998";

}
.bi-ic-link-2:before {
  content: "\e999";

}
.bi-ic-link:before {
  content: "\e99a";

}
.bi-ic-life-buoy:before {
  content: "\e99b";

}
.bi-ic-layout:before {
  content: "\e99c";

}
.bi-ic-layers:before {
  content: "\e99d";

}
.bi-ic-italic:before {
  content: "\e99e";

}
.bi-ic-instagram:before {
  content: "\e99f";

}
.bi-ic-info:before {
  content: "\e9a0";

}
.bi-ic-inbox:before {
  content: "\e9a1";

}
.bi-ic-image:before {
  content: "\e9a2";

}
.bi-ic-host:before {
  content: "\e9a3";

}
.bi-ic-history-2:before {
  content: "\e9a4";

}
.bi-ic-history:before {
  content: "\e9a5";

}
.bi-ic-home:before {
  content: "\e9a6";

}
.bi-ic-home2:before {
  content: "\e9a7";

}
.bi-ic-help-circle:before {
  content: "\e9a8";

}
.bi-ic-heart:before {
  content: "\e9a9";

}
.bi-ic-headphones:before {
  content: "\e9aa";

}
.bi-ic-hash:before {
  content: "\e9ab";

}
.bi-ic-hard-drive:before {
  content: "\e9ac";

}
.bi-ic-grid:before {
  content: "\e9ad";

}
.bi-ic-globe:before {
  content: "\e9ae";

}
.bi-ic-git-pull-request-1:before {
  content: "\e9af";

}
.bi-ic-git-merge:before {
  content: "\e9b0";

}
.bi-ic-gitlab:before {
  content: "\e9b1";

}
.bi-ic-github:before {
  content: "\e9b2";

}
.bi-ic-git-commit:before {
  content: "\e9b3";

}
.bi-ic-git-pull-request:before {
  content: "\e9b4";

}
.bi-ic-git-branch:before {
  content: "\e9b5";

}
.bi-ic-gift:before {
  content: "\e9b6";

}
.bi-ic-folder-plus:before {
  content: "\e9b7";

}
.bi-ic-folder-minus:before {
  content: "\e9b8";

}
.bi-ic-folder:before {
  content: "\e9b9";

}
.bi-ic-flag:before {
  content: "\e9ba";

}
.bi-ic-filter:before {
  content: "\e9bb";

}
.bi-ic-film:before {
  content: "\e9bc";

}
.bi-ic-file-text:before {
  content: "\e9bd";

}
.bi-ic-file-plus:before {
  content: "\e9be";

}
.bi-ic-file-minus:before {
  content: "\e9bf";

}
.bi-ic-file:before {
  content: "\e9c0";

}
.bi-ic-feather:before {
  content: "\e9c1";

}
.bi-ic-fast-forward:before {
  content: "\e9c2";

}
.bi-ic-facebook:before {
  content: "\e9c3";

}
.bi-ic-eye-off:before {
  content: "\e9c4";

}
.bi-ic-eye:before {
  content: "\e9c5";

}
.bi-ic-eraser:before {
  content: "\e9c6";

}
.bi-ic-external-link:before {
  content: "\e9c7";

}
.bi-ic-edit-3:before {
  content: "\e9c8";

}
.bi-ic-edit-2:before {
  content: "\e9c9";

}
.bi-ic-edit:before {
  content: "\e9ca";

}
.bi-ic-dashboard:before {
  content: "\e9cb";

}
.bi-ic-door:before {
  content: "\e9cc";

}
.bi-ic-download-cloud:before {
  content: "\e9cd";

}
.bi-ic-droplet:before {
  content: "\e9ce";

}
.bi-ic-download:before {
  content: "\e9cf";

}
.bi-ic-database-checklist:before {
  content: "\e9d0";

}
.bi-ic-database:before {
  content: "\e9d1";

}
.bi-ic-delete:before {
  content: "\e9d2";

}
.bi-ic-disc:before {
  content: "\e9d3";

}
.bi-ic-dollar-sign:before {
  content: "\e9d4";

}
.bi-Vector-21:before {
  content: "\e9d5";

}
.bi-Vector-11:before {
  content: "\e9d6";

}
.bi-Vector1:before {
  content: "\e9d7";

}
.bi-ic-check-circle:before {
  content: "\e9d8";

}
.bi-ic-check:before {
  content: "\e9d9";

}
.bi-ic-cast:before {
  content: "\e9da";

}
.bi-ic-camera-off:before {
  content: "\e9db";

}
.bi-ic-camera:before {
  content: "\e9dc";

}
.bi-ic-cloud-snow:before {
  content: "\e9dd";

}
.bi-ic-cloud-off:before {
  content: "\e9de";

}
.bi-ic-cloud-lightning:before {
  content: "\e9df";

}
.bi-ic-corner-up-left:before {
  content: "\e9e0";

}
.bi-ic-crosshair:before {
  content: "\e9e1";

}
.bi-ic-crop:before {
  content: "\e9e2";

}
.bi-ic-credit-card:before {
  content: "\e9e3";

}
.bi-ic-cpu:before {
  content: "\e9e4";

}
.bi-ic-corner-up-right:before {
  content: "\e9e5";

}
.bi-ic-corner-right-up:before {
  content: "\e9e6";

}
.bi-ic-corner-right-down:before {
  content: "\e9e7";

}
.bi-ic-corner-left-up:before {
  content: "\e9e8";

}
.bi-ic-corner-left-down:before {
  content: "\e9e9";

}
.bi-ic-corner-down-right:before {
  content: "\e9ea";

}
.bi-ic-corner-down-left:before {
  content: "\e9eb";

}
.bi-ic-copy:before {
  content: "\e9ec";

}
.bi-ic-compass:before {
  content: "\e9ed";

}
.bi-ic-command:before {
  content: "\e9ee";

}
.bi-ic-codepen:before {
  content: "\e9ef";

}
.bi-ic-code:before {
  content: "\e9f0";

}
.bi-ic-cloud-rain:before {
  content: "\e9f1";

}
.bi-ic-cloud-drizzle:before {
  content: "\e9f2";

}
.bi-ic-cloud:before {
  content: "\e9f3";

}
.bi-ic-clock:before {
  content: "\e9f4";

}
.bi-ic-clipboard:before {
  content: "\e9f5";

}
.bi-ic-circle:before {
  content: "\e9f6";

}
.bi-ic-chrome:before {
  content: "\e9f7";

}
.bi-ic-calendar:before {
  content: "\e9f8";

}
.bi-ic-doublechevron-right:before {
  content: "\e9f9";

}
.bi-ic-doublechevron-left:before {
  content: "\e9fa";

}
.bi-ic-chevron-right:before {
  content: "\e9fb";

}
.bi-ic-chevron-left:before {
  content: "\e9fc";

}
.bi-ic-chevron-up:before {
  content: "\e9fd";

}
.bi-ic-chevron-down:before {
  content: "\e9fe";

}
.bi-ic-check-square:before {
  content: "\e9ff";

}
.bi-ic-briefcase:before {
  content: "\ea00";

}
.bi-ic-box:before {
  content: "\ea01";

}
.bi-ic-bookshelf:before {
  content: "\ea02";

}
.bi-ic-book-open:before {
  content: "\ea03";

}
.bi-ic-bookmark:before {
  content: "\ea04";

}
.bi-ic-book:before {
  content: "\ea05";

}
.bi-ic-bold:before {
  content: "\ea06";

}
.bi-ic-bluetooth:before {
  content: "\ea07";

}
.bi-ic-bell-off:before {
  content: "\ea08";

}
.bi-ic-bell:before {
  content: "\ea09";

}
.bi-ic-battery-charging:before {
  content: "\ea0a";

}
.bi-ic-battery:before {
  content: "\ea0b";

}
.bi-ic-bar-chart-2:before {
  content: "\ea0c";

}
.bi-ic-bar-chart:before {
  content: "\ea0d";

}
.bi-Vector-14:before {
  content: "\ea0e";

}
.bi-Vector-13:before {
  content: "\ea0f";

}
.bi-Vector-12:before {
  content: "\ea10";

}
.bi-Vector-111:before {
  content: "\ea11";

}
.bi-Vector-Stroke-6:before {
  content: "\ea12";

}
.bi-Vector-Stroke-5:before {
  content: "\ea13";

}
.bi-Vector-10:before {
  content: "\ea14";

}
.bi-Vector-9:before {
  content: "\ea15";

}
.bi-Vector-8:before {
  content: "\ea16";

}
.bi-Vector-7:before {
  content: "\ea17";

}
.bi-Vector-Stroke-4:before {
  content: "\ea18";

}
.bi-Vector-Stroke-3:before {
  content: "\ea19";

}
.bi-Vector-6:before {
  content: "\ea1a";

}
.bi-Vector-Stroke-2:before {
  content: "\ea1b";

}
.bi-Vector-5:before {
  content: "\ea1c";

}
.bi-Union-6:before {
  content: "\ea1d";

}
.bi-Vector-4:before {
  content: "\ea1e";

}
.bi-Union-5:before {
  content: "\ea1f";

}
.bi-Vector-3:before {
  content: "\ea20";

}
.bi-Vector-22:before {
  content: "\ea21";

}
.bi-Vector-Stroke-1:before {
  content: "\ea22";

}
.bi-Vector-Stroke1:before {
  content: "\ea23";

}
.bi-Vector-15:before {
  content: "\ea24";

}
.bi-Union-4:before {
  content: "\ea25";

}
.bi-Union-3:before {
  content: "\ea26";

}
.bi-Union-2:before {
  content: "\ea27";

}
.bi-Union-1:before {
  content: "\ea28";

}
.bi-Vector2:before {
  content: "\ea29";

}
.bi-Union:before {
  content: "\ea2a";

}
.bi-ic-resources-2-fill-off:before {
  content: "\ea2b";
  color: #aaa;
}
.bi-ic-resources-2-fill-on:before {
  content: "\ea2c";
  color: #0549cf;
}
.bi-ic-report-2-fill-on .path1:before {
  content: "\ea2d";
  color: rgb(5, 73, 207);
}
.bi-ic-report-2-fill-on .path2:before {
  content: "\ea2e";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-report-2-fill-on .path3:before {
  content: "\ea2f";
  margin-left: -1.0625em;
  color: none;
}
.bi-ic-report-2-fill-on .path4:before {
  content: "\ea30";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-report-2-fill-on .path5:before {
  content: "\ea31";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-resources-1-fill-off:before {
  content: "\ea32";
  color: #aaa;
}
.bi-ic-resources-1-fill-on:before {
  content: "\ea33";
  color: #0549cf;
}
.bi-ic-report-3-fill-off:before {
  content: "\ea34";
  color: #aaa;
}
.bi-ic-report-3-fill-on:before {
  content: "\ea35";
  color: #0549cf;
}
.bi-ic-telco-fill-on .path1:before {
  content: "\ea36";
  color: rgb(255, 147, 30);
}
.bi-ic-telco-fill-on .path2:before {
  content: "\ea37";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-telco-fill-on .path3:before {
  content: "\ea38";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-telco-fill-on .path4:before {
  content: "\ea39";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-telco-fill-on .path5:before {
  content: "\ea3a";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-techno-fill-on .path1:before {
  content: "\ea3b";
  color: rgb(5, 73, 207);
}
.bi-ic-techno-fill-on .path2:before {
  content: "\ea3c";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-shopping-fill-on .path1:before {
  content: "\ea3d";
  color: rgb(255, 147, 30);
}
.bi-ic-shopping-fill-on .path2:before {
  content: "\ea3e";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-shopping-fill-on .path3:before {
  content: "\ea3f";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-oil-fill-on .path1:before {
  content: "\ea40";
  color: rgb(5, 73, 207);
}
.bi-ic-oil-fill-on .path2:before {
  content: "\ea41";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-oil-fill-on .path3:before {
  content: "\ea42";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-media-fill-on .path1:before {
  content: "\ea43";
  color: rgb(255, 147, 30);
}
.bi-ic-media-fill-on .path2:before {
  content: "\ea44";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-media-fill-on .path3:before {
  content: "\ea45";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-manufacture-fill-on .path1:before {
  content: "\ea46";
  color: rgb(5, 73, 207);
}
.bi-ic-manufacture-fill-on .path2:before {
  content: "\ea47";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-manufacture-fill-on .path3:before {
  content: "\ea48";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-manufacture-fill-on .path4:before {
  content: "\ea49";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-life-science-fill-on .path1:before {
  content: "\ea4a";
  color: rgb(5, 73, 207);
}
.bi-ic-life-science-fill-on .path2:before {
  content: "\ea4b";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-life-science-fill-on .path3:before {
  content: "\ea4c";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-life-science-fill-on .path4:before {
  content: "\ea4d";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-life-science-fill-on .path5:before {
  content: "\ea4e";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-life-science-fill-on .path6:before {
  content: "\ea4f";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-insurance-fill-on .path1:before {
  content: "\ea50";
  color: rgb(5, 73, 207);
}
.bi-ic-insurance-fill-on .path2:before {
  content: "\ea51";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-insurance-fill-on .path3:before {
  content: "\ea52";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-healthcare-fill-on .path1:before {
  content: "\ea53";
  color: rgb(5, 73, 207);
}
.bi-ic-healthcare-fill-on .path2:before {
  content: "\ea54";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-government-fill-on .path1:before {
  content: "\ea55";
  color: rgb(5, 73, 207);
}
.bi-ic-government-fill-on .path2:before {
  content: "\ea56";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-finance-fill-on .path1:before {
  content: "\ea57";
  color: rgb(5, 73, 207);
}
.bi-ic-finance-fill-on .path2:before {
  content: "\ea58";
  margin-left: -1.0625em;
  color: rgb(255, 147, 30);
}
.bi-ic-education-fill-on .path1:before {
  content: "\ea59";
  color: rgb(255, 147, 30);
}
.bi-ic-education-fill-on .path2:before {
  content: "\ea5a";
  margin-left: -1.0625em;
  color: rgb(5, 73, 207);
}
.bi-ic-database-postgresql .path1:before {
  content: "\ea5b";
  color: rgb(0, 0, 0);
}
.bi-ic-database-postgresql .path2:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.bi-ic-database-postgresql .path3:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(51, 103, 145);
}
.bi-ic-database-postgresql .path4:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path5:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path6:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path7:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path8:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path9:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path10:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path11:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-postgresql .path12:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-database-oracle:before {
  content: "\ea67";
  color: #c74634;
}
.bi-ic-database-netteza .path1:before {
  content: "\ea68";
  color: rgb(17, 99, 110);
}
.bi-ic-database-netteza .path2:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(182, 190, 0);
}
.bi-ic-database-mysql:before {
  content: "\ea6a";
  color: #00618a;
}
.bi-ic-database-mssql:before {
  content: "\ea6b";
}
.bi-ic-database-druidio:before {
  content: "\ea6c";
  color: #29f1fb;
}
.bi-ic-sna-fill-off:before {
  content: "\ea6d";
  color: #aaa;
}
.bi-ic-sna-fill-on .path1:before {
  content: "\ea6e";
  color: rgb(5, 73, 207);
}
.bi-ic-sna-fill-on .path2:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-sna-fill-on .path3:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-sna-fill-on .path4:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-sna-fill-on .path5:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-sna-fill-on .path6:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-sna-fill-on .path7:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-statistics-fill-off .path1:before {
  content: "\ea75";
  color: rgb(255, 255, 255);
}
.bi-ic-statistics-fill-off .path2:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-statistics-fill-off .path3:before {
  content: "\ea77";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-statistics-fill-off .path4:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-statistics-fill-off .path5:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-statistics-fill-on .path1:before {
  content: "\ea7a";
  color: rgb(255, 255, 255);
}
.bi-ic-statistics-fill-on .path2:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-statistics-fill-on .path3:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-statistics-fill-on .path4:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-statistics-fill-on .path5:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-off .path1:before {
  content: "\ea7f";
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-off .path2:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-dashboard-fill-off .path3:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-off .path4:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-off .path5:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-on .path1:before {
  content: "\ea84";
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-on .path2:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-dashboard-fill-on .path3:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-on .path4:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-dashboard-fill-on .path5:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-admin-fill-off .path1:before {
  content: "\ea89";
  color: rgb(170, 170, 170);
}
.bi-ic-admin-fill-off .path2:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-admin-fill-off .path3:before {
  content: "\ea8b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-admin-fill-on .path1:before {
  content: "\ea8c";
  color: rgb(255, 147, 30);
}
.bi-ic-admin-fill-on .path2:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-admin-fill-on .path3:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-models-fill-off:before {
  content: "\ea8f";
  color: #aaa;
}
.bi-ic-models-fill-on .path1:before {
  content: "\ea90";
  color: rgb(5, 73, 207);
}
.bi-ic-models-fill-on .path2:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-models-fill-on .path3:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-models-fill-on .path4:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-models-fill-on .path5:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-models-fill-on .path6:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-models-fill-on .path7:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-workspace-fill-off .path1:before {
  content: "\ea97";
  color: rgb(170, 170, 170);
}
.bi-ic-workspace-fill-off .path2:before {
  content: "\ea98";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-fill-off .path3:before {
  content: "\ea99";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-fill-off .path4:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-workspace-fill-off .path5:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-fill-off .path6:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-fill-on .path1:before {
  content: "\ea9d";
  color: rgb(255, 147, 30);
}
.bi-ic-workspace-fill-on .path2:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-fill-on .path3:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(5, 73, 207);
}
.bi-ic-workspace-fill-on .path4:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-fill-on .path5:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-2-fill-off .path1:before {
  content: "\eaa2";
  color: rgb(170, 170, 170);
}
.bi-ic-workspace-2-fill-off .path2:before {
  content: "\eaa3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-2-fill-off .path3:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-2-fill-off .path4:before {
  content: "\eaa5";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-workspace-2-fill-on .path1:before {
  content: "\eaa6";
  color: rgb(5, 73, 207);
}
.bi-ic-workspace-2-fill-on .path2:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-workspace-2-fill-on .path3:before {
  content: "\eaa8";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-workspace-2-fill-on .path4:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-trash-fill-off .path1:before {
  content: "\eaaa";
  color: rgb(170, 170, 170);
}
.bi-ic-trash-fill-off .path2:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-trash-fill-off .path3:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-trash-fill-off .path4:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-trash-fill-on .path1:before {
  content: "\eaae";
  color: rgb(5, 73, 207);
}
.bi-ic-trash-fill-on .path2:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-trash-fill-on .path3:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-trash-fill-on .path4:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-archive-fill-off .path1:before {
  content: "\eab2";
  color: rgb(170, 170, 170);
}
.bi-ic-archive-fill-off .path2:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(170, 170, 170);
}
.bi-ic-archive-fill-off .path3:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-archive-fill-on .path1:before {
  content: "\eab5";
  color: rgb(5, 73, 207);
}
.bi-ic-archive-fill-on .path2:before {
  content: "\eab6";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-archive-fill-on .path3:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.bi-ic-home-fill-off:before {
  content: "\eab8";
  color: #aaa;
}
.bi-ic-home-fill-on .path1:before {
  content: "\eab9";
  color: rgb(5, 73, 207);
}
.bi-ic-home-fill-on .path2:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(255, 147, 30);
}
.bi-ic-unlock-fill:before {
  content: "\eabb";

}
.bi-ic-table-fill:before {
  content: "\eabc";

}
.bi-ic-solid-fill:before {
  content: "\eabd";

}
.bi-ic-skip-forward-fill:before {
  content: "\eabe";

}
.bi-ic-skip-back-fill:before {
  content: "\eabf";

}
.bi-ic-play-fill:before {
  content: "\eac0";

}
.bi-ic-pause-fill1:before {
  content: "\eac1";

}
.bi-ic-lock-fill:before {
  content: "\eac2";

}
.bi-ic-database-fill:before {
  content: "\eac3";

}
.bi-ic-dot-fill:before {
  content: "\eac4";

}
