.text-s-reg {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.011em;
}

.text-s-med {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.011em;
}
.text-m-reg {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.011em;
}
.text-m-med {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.011em;
}
.text-l-reg {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.011em;
}
.text-l-med {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.011em;
}
.text-xl-med {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.011em;
}

.head-xl-med {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 36px;
	letter-spacing: -0.011em;
}

.head-m-med {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	letter-spacing: -0.011em;
}

.head-s-med {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.011em;
}

.cover-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	line-height: 36px;
}

.cover-subtitle {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.cover-page {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
}

.cover-white {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}

.cover-white-small {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.reports-header {
	font-family: Inter;
	font-size: 7px;
	font-weight: 400;
	line-height: 12px;
}

.reports-title {
	font-family: 'Inter';
	font-size: 10px;
	font-weight: 500;
	line-height: 14px;
}

.reports-chart-title {
	font-family: Inter;
	font-size: 8px;
	font-weight: 400;
	line-height: 14px;
}

.reports-chart-padding > * {
	padding: 0.5rem;
}

.reports-legend {
	font-family: Inter;
	font-size: 8px;
	font-weight: 500;
	line-height: 10px;
}

.icon-report > svg {
	height: 14px;
	width: 14px;
}

.text-group-report {
	font-family: Inter;
	font-size: 8px;
	font-weight: 500;
	line-height: 12px;
}

.text-group-report-gray {
	font-family: Inter;
	font-size: 6px;
	font-weight: 400;
	line-height: 12px;
}

.chart-text > * > * > * > .highcharts-yaxis-labels > * {
	font-size: 8px !important;
	line-height: 14px;
	font-weight: 400;
}

.chart-text > * > * > * > .highcharts-xaxis-labels > * {
	font-size: 8px !important;
	line-height: 14px;
	font-weight: 400;
}

.chart-text > * > * > .highcharts-xaxis-labels > * > * {
	font-size: 8px !important;
	line-height: 14px;
	font-weight: 400;
}

.chart-text .highcharts-xaxis-labels > * {
	font-size: 8px !important;
	line-height: 14px;
	font-weight: 400;
}

/* Select.js (Component) */
.select-wrapper {
	position: relative;
}

.select-wrapper::before {
	font-family: 'icomoon' !important;
	content: '\e9fe';
	font-size: 1rem;
	display: block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 12px;
	position: absolute;
	display: inline-block;
	pointer-events: none;
	color: #737373;
}

.input {
	border-radius: 5px;
	outline-color: #e4e4e4;
	appearance: none;
	cursor: pointer;
	outline-style: solid;
	outline-width: 1px;
}
.input:hover {
	outline-color: #0549cf;
}
.input:focus {
	box-shadow: 0px 0px 0px 3px rgb(205 219 245);
	outline-color: #0549cf;
	border-radius: 5px;
}

.input-overflow {
	padding-top: 10px;
	padding-bottom: 2px;
}

.icon-overflow {
	margin-top: -8px;
}

/* for grid height per portlate */
div.grid-height-normal > *:not(.hr) {
	height: 288px;
}

/* LinkAdmin BoxShadow */
.shadow-admin {
	box-shadow: 0px 4px 9px rgba(9, 45, 115, 0.09);
}
.link-hover:hover {
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
