.canvas{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.active-canvas{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas-container{
    position: relative;
    z-index: -1;
}

[contenteditable]:focus {
    outline: none;
}
