.input-select-options-invite{
	height: 90px;
	width: 159px;
    left:440px;
	position: absolute;
	padding: 10px 16px;
	top: calc(100%);
	background-color: #FFFFFF;
	border: 1px solid #E4E4E4;
	border-radius: 6px;
	box-shadow: 0px 4px 9px 0px #092D7317;
	overflow: auto;
}

.input-select-options-invite .item {
	padding: 7px 0;
	cursor: pointer;
}

.input-select-options-invite .item:hover {
	color: #0549CF;
}