.zoom-grid-toolbar{
    display: flex;
    position: fixed;
    top: 94px;
    right: 23px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #D1CECF;
    background-color: #FFFFFF;
}

.grid-toolbar{
    display: flex;
    gap: 9px;
    padding: 10px 13px;
    border-right: 0.5px solid #E4E4E4;
}

.zoom-toolbar{
    color: #565656;
    display: flex;
    gap: 18px;
    padding: 10px 13px;
}