.dashboard-sidenav {
    width: 240px;
    height: calc(100vh - 70px);
    padding-top: 50px;
    padding-left: 30px;
    border: solid 1px #E4E4E4;
}

.dashboard-sidenav p :not(.avatar) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
}
.dashboard-sidenav a {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
    color: #AAAAAA;
}

.dashboard-sidenav a.active {
    color: #1E1E1E;
    border-right: solid 2px #0549CF;
}

.dashboard-sidenav a:hover {
    color: #1E1E1E;
}

.dashboard-sidenav a.active path.orange,
.dashboard-sidenav a:hover path.orange{
    fill: #FF931E;
}

.dashboard-sidenav a.active path.primary, 
.dashboard-sidenav a:hover path.primary{
    fill: #0549CF;
}