.align-picker{
    border-radius: 4px;
    border: 1px solid #E4E4E4;
    background: #FFFFFF;
    display: flex;
}

.align-picker .item{
    padding: 13px 17px;
    border-right: 1px solid #E4E4E4;
    position: static;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
}

.align-picker .item:hover{
    background: #EFEFEF;
}

.align-picker .item:first-child{
    border-radius: 4px 0 0 4px;
}

.align-picker .item:last-child{
    border-radius: 0 4px 4px 0;
}

.align-picker .item:last-child{
    border-right: none;
}

.align-picker .item.active{
    background: #EFEFEF;
}