.btn-recently-delete {
	flex-direction: row;
    width: 116px;
	height: 40px;
	justify-content: center;
	align-items: center;
	padding: 3px 16px 3px 16px;
	gap: 4px;
	box-shadow: 0px 1px 2px rgba(9, 45, 115, 0.12);
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	cursor: pointer;
}
.btn-recently-restore {
	flex-direction: row;
    width: 116px;
	height: 40px;
	justify-content: center;
	align-items: center;
	padding: 3px 16px 3px 16px;
	gap: 4px;
	box-shadow: 0px 1px 2px rgba(9, 45, 115, 0.12);
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
	cursor: pointer;
}
.btn-recently{
    position: fixed;
	display: flex;
	/* bottom: 100px; */
	left: 48%;
}