.my-modal-join {
    position: fixed;
    z-index: 1001;
    background-color: #00000040;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal-join .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: auto;
    width: 424px;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #092D7317;
}

.my-modal-join .content header {
    padding: 20px 24px 20px 0px;
    border-bottom: 1px solid #EFEFEF;
}

.my-modal-join .content footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    padding: 15px 0px 16px 24px;
}

.my-modal-join .content input[type=text],
.my-modal-join .content input[type=number] {
    margin-top: 4px;
    margin-bottom: 16px;
}

.my-modal-join .content input[type=text]:last-child,
.my-modal-join .content input[type=number]:last-child {
    margin-bottom: 0;
}

.pin-input {
    margin-top: 15px;
    gap: 6px;
}

.pin-input input[type=text],
.pin-input input[type=number] {
    height: 71px;
    font-size: 18px;
    line-height: 26px;
    padding: 22px 20px;
}

.pin-input input[type=text],
.pin-input input[type=number] {
    margin-bottom: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

