.btn {
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
	transition: 0.5s background-color;
	cursor: pointer;
}

.btn .spinner{
	margin-right: 8px;
}

.btn.primary {
	color: #FFFFFF;
	background-color: #0549CF;
}

.btn.primary:hover {
	background-color: #043DAC;
}

.btn.primary:hover a {
	color: #FFFFFF;
}

.btn.secondary {
	color: #0549CF;
	background-color: #F0F5FF;
}

.btn.secondary:hover {
	color: #043DAC;
}

.btn.secondary:hover a {
	color: #043DAC;;
}

.btn.transparent {
	background: none;
	box-shadow: none;
}

.btn.transparent:hover {
	color: #737373;
	background-color: #F6F6F6;
}

.btn.transparent:hover a {
	color: #737373;
}


.btn.bordered-primary {
	color: #0549CF;
	background-color: #FFFFFF;
	border: 1px solid #0549CF;
}

.btn.bordered-primary:hover {
	color: #FFFFFF;
	background-color: #0549CF;
	border: none;
}

.btn.disable {
	color: #AAAAAA !important;
	background-color: #F6F6F6 !important;
	border: 1px solid #EFEFEF !important;
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
}

.btn.disable svg path {
	fill: #AAAAAA;
}