.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    position: absolute;
    color: #FFFFFF;
    min-width: 50px;
    white-space: nowrap;
    background-color: #1E1E1E;
    text-align: center;
    border-radius: 5px;
    padding: 6px 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;

}

.tooltip .tooltip-bottom.tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #1E1E1E transparent;
}

.tooltip-bottom {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltip-top.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1E1E1E transparent transparent transparent;
}

.tooltip-top {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltip-left.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1E1E1E;
}

.tooltip-left {
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip .tooltip-right.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #1E1E1E transparent transparent;
}

.tooltip-right {
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}