.dropdown .content {
	border: 1px solid #E4E4E4;
	border-radius: 10px;
	box-shadow: 0px 4px 9px 0px #092D7317;
	background-color: #FFFFFF;
	animation-name: pop;
	animation-duration: .2s;
}

.dropdown ul {
	padding: 4px 0;
	width: 240px;
}

.dropdown li {
	padding: 6px 16px;
	color: #1E1E1E;
}

.dropdown li:hover {
	color: #0549CF;
}

.canvas-toolbar-dropdown {
	position: absolute;
	z-index: 10;
	left: calc(100% + 10px);
	top: 50%;
	transform: translateY(-50%);
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.dropdown li .disable-edit-role {
	color: #AAAAAA;
}

.list-dropdown-v2 {
	position: relative;
	color: #737373;
	cursor: default;
}

.list-dropdown-v2 .content {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px #00000040;
	background-color: #FFFFFF;
	animation-name: pop;
	animation-duration: .2s;
}

.list-dropdown-v2 li {
	padding: 8px 0;
}

.list-dropdown-v2 li {
	padding: 8px 0;
}

.list-dropdown-v2 li>div {
	padding: 0 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.006em;
}

.list-dropdown-v2 .content ul {
	padding: 3px 0;
}

.list-dropdown-v2 li:hover {
	background-color: #F6F6F6;
}

.list-dropdown-v2 li.selected {
	background-color: #F6F6F6;
}

.dropdown-v2 {
	position: relative;
	color: #737373;
	cursor: default;
}

.dropdown-v2 .item {
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px #00000040;
	position: absolute;
}

.dropdown-v2 .item.bottom-left {
	top: 100%;
	left: 0;
}

.dropdown-v2 .item.bottom-right {
	top: 100%;
	right: 0;
}

.dropdown-v2 .item.top-left {
	bottom: 100%;
	left: 0;
}

.dropdown-v2 .item.top-right {
	bottom: 100%;
	right: 0;
}

@keyframes pop {
	0% {
		transform: translateY(5px);
		timing-function: ease;
	}

	100% {
		transform: translateY(0px);
		timing-function: ease;
	}
}