.layout {
    display: flex;
}

.layout .sidenav {
    height: 100vh;
    width: 240px;
    border-right: 1px solid #E4E4E4;
    padding: 10px;
    overflow: auto;
}

.layout .content {
    height: 100vh;
    flex: 1;
    overflow: auto;
}

.page-title {
    font-family: Inter;
    color: #0549CF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.017em;
    margin-bottom: 50px;
}

.item .title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
}

.sub-item {
    padding-left: 10px;
}

.sub-item .menu {
    cursor: default;
    margin: 5px 0;
}

.sub-item .menu.active {
    color: #0549CF;
}

.layout .content {
    padding: 30px;
}

.layout .content .title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.017em;
    text-align: left;
    margin-bottom: 20px;
}

.layout .content .description {
    color: #737373;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.layout .content .example{
    margin-bottom: 20px;
}

.description-table thead {
    color: #737373;
    background-color: #F6F6F6;
}

.description-table thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
}

.description-table td,
.description-table th {
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
}

.description-table td {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #1E1E1E;
    border-bottom: 1px solid #E4E4E4;
}

.description-table tr:last-child td {
    border-bottom: none;
}

.description-table thead th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.description-table thead th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}