.color-picker{
    width: 242px;
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.color-picker .color{
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.color-picker .color.active::before{
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 1.5px solid #0549CF;
    border-radius: 50%;
}