.logo{
    width: 107px;
}
.head{
    padding: 15px 30px;
    box-shadow: 0px 4px 9px rgba(9, 45, 115, 0.09);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #FFFFFF;
}
.logo-container{
    margin-right: 28px;
    margin-top: auto;
    margin-bottom: auto;
}