@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('./styles/typograph.css');
@import url('./styles/style.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FFFFFF;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 14px;
	border: none;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 10px;
	background-color: #76767680;
}

.abs-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type=text],
input[type=number],
input[type=password],
input[type=email] {
	font-size: 14px;
	font-family: 'Inter', sans-serif !important;
	line-height: 20px;
	font-weight: 400;
	padding: 10px 12px;
	margin-bottom: 25px;
	color: #1E1E1E;
	border-radius: 5px;
	border: 1px solid #E4E4E4;
	display: block;
	width: 100%;
}

input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder {
	color: #AAAAAA;
}

input:focus,
select:focus {
	outline: none !important;
	border: 1px solid #0549CF;
	box-shadow: 0px 0px 0px 3px rgb(205 219 245);
}

input:hover,
select:hover{
	outline: none;
	border: 1px solid #0549CF;
}

input[type=checkbox] {
	appearance: none;
	height: 20px;
	width: 20px;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
}

input[type=checkbox]:hover {
	border: 1px solid #0549CF;
}

input[type=checkbox].answer-checked {
	height: 27.33px;
	width: 27.33px;
	border-radius: 50%;
}

input[type=checkbox]:checked {
	background-color: #0549CF;
	border: none;
}

.auth-error-message {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
	background: #F54A45;
	animation-name: bounce;
	animation-duration: .5s;
	animation-delay: 0.25s;
}

.btn-change-img {
	flex-direction: row;
	height: 32px;
	justify-content: center;
	align-items: center;
	padding: 3px 16px 3px 16px;
	gap: 4px;
	border: 1px solid #E4E4E4;
	box-shadow: 0px 1px 2px rgba(9, 45, 115, 0.12);
	border-radius: 5px;
	cursor: pointer;
}

@keyframes bounce {
	0% {
		transform: translateX(0px);
		timing-function: ease-in;
	}

	37% {
		transform: translateX(5px);
		timing-function: ease-out;
	}

	55% {
		transform: translateX(-5px);
		timing-function: ease-in;
	}

	73% {
		transform: translateX(4px);
		timing-function: ease-out;
	}

	82% {
		transform: translateX(-4px);
		timing-function: ease-in;
	}

	91% {
		transform: translateX(2px);
		timing-function: ease-out;
	}

	96% {
		transform: translateX(-2px);
		timing-function: ease-in;
	}

	100% {
		transform: translateX(0px);
		timing-function: ease-in;
	}
}

.slide-in{
	animation: slide-in;
	animation-duration: 2s;
}

@keyframes slide-in {
	0% {
		transform: translatex(-25%);
	}
    100% { 
		transform: translateX(0%); 
	}
}

.carousel .navigation {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.carousel .navigation .item {
	height: 9px;
	width: 9px;
	border-radius: 50%;
	background-color: #E4E4E4;
}

.carousel .navigation .item.active {
	background-color: #0549CF;
}

.input-select-options {
	height: 307px;
	width: 100%;
	position: absolute;
	padding: 4px 16px;
	top: calc(100% + 8px);
	background-color: #FFFFFF;
	border: 1px solid #E4E4E4;
	border-radius: 6px;
	box-shadow: 0px 4px 9px 0px #092D7317;
	overflow: auto;
}

.input-select-options .item {
	padding: 6px 0;
	cursor: default;
}

.input-select-options .item:hover {
	color: #0549CF;
}

.card {
	width: 100%;
	border-radius: 10px;
	height: auto;
	border: 1px solid #E4E4E4;
	box-shadow: 0px 4px 9px 0px #092D7317;
}

.announcement-deleted{
	position: fixed;
	display: flex;
	bottom: 32px;
	left: 40%;
}

.total-select{
	position: fixed;
	display: flex;
	bottom: 152px;
	left: 52.5%;
}

.select-all{
	position: fixed;
	display: flex;
	bottom: 66px;
	left: 54%;
	cursor: pointer;
}

.member{
	display: flex;
	width: 194px;
	height: 65px;
	padding: 3px 0px 0px 0px;
}
.bi-ic-more-vertical{
	display: none;
}
.member:hover{
	background-color: #F6F6F6;
}
.member:hover .bi-ic-more-vertical{
	background-color: #F6F6F6;
	cursor: pointer;
	display: block;
}

.member .icon-click{
	background-color: #F6F6F6;
	cursor: pointer;
    display: block;
}

