/* .dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
} */

.dropdown-content {
    display: none;
    position: absolute;
    color: #1E1E1E;
    background-color: #FFFFFF;
    min-width: 240px;
    border: 0.5px solid #C9C9C9;
    box-shadow: 0px 4px 9px 0px #092D7317;
    border-radius: 4px;
    transform-origin: center;
    /* z-index: 999; */
}

.dropdown-content ul {
    padding: 7.5px 24px;
}

.dropdown-content li {
    padding: 10px 0;
    letter-spacing: -0.6%;
    cursor:pointer
}

.dropdown-content path {
    fill: #737373 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* color: initial; */
}

.dropdown .dropdown-content li:hover {
    color: #0549CF;
}

.dropdown .dropdown-content li:hover path {
    fill: #0549CF !important;
}